<h4 class="page-title">Jugadores</h4>

<div class="player-container">
  <table class="stripped tb900">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Equipo</th>
        <th>Posición</th>
        <th>País</th>
        <th>DF ID</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.id %></td>
        <td><%= link_to player.name, edit_admin_player_path(player.id) %></td>
        <td><%= player.team_name_if_none {'N/A'} %></td>
        <td><%= player.position %></td>
        <td><%= player.nationality %></td>
        <td><%= player.data_factory_id_if_none {'N/A'} %></td>
        <td><%= link_to 'Ver +', admin_player_path(player.id) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= add_floating_button_for new_admin_player_path %>