<div class="mail_container" style="background-color:#8FC858;" >
  <div style="background-color:#0E191B; width:100%; height:67px; text-align:center;" ><img src="http://jugaplay.com/mail/img/logo.jpg" width="175" height="51" style="margin-top:10px; margin-left:auto; margin-right:auto;" /></div>
  <div class="row" style="width:80%; margin-top:40px; margin-bottom:20px; margin-left:10%; margin-right:10%;text-align:center; color:#FFF;" >
    <H1 style="font-size:55px; font-family:Arial, Helvetica, sans-serif;">¡RESULTADOS <%= @table.title %> !</H1>
  </div>
  <div class="row"style="width:80%; margin-top:0px; margin-bottom:20px; margin-left:10%; margin-right:10%;text-align:center;color:#FFF;" >
    <p style="font-size:14px; font-family:Arial, Helvetica, sans-serif;">Muchas gracias por ingresar y participar en Jugaplay. </p>
    <p style="font-size:14px; font-family:Arial, Helvetica, sans-serif;">Valoramos mucho tu visita.</p>
  </div>
  <div class="row" style="width:80%; margin-top:0px; margin-bottom:40px; margin-left:10%; margin-right:10%;text-align:center;color:#FFF;" >
    <h3 style="font-size:30px; font-family:Arial, Helvetica, sans-serif;">¡LOS RESULTADOS DE TU JUGADA SON!</h3>
    <% @play.players.each do |player| %>
      <p style="font-size:14px; font-family:Arial, Helvetica, sans-serif;"> <%= "#{player.name}, sumo: #{@points_calculator.call_for_player(@play, player) } PTS"%> </p>
    <% end %>
    <p><b style="font-size:16px; font-family:Arial, Helvetica, sans-serif;">TOTAL: <%= @play.points %> PTS</b></p>
    <p style="font-size:14px; font-family:Arial, Helvetica, sans-serif;">
      Saliste <%= @table.position(@user) { fail "Missing position for user #{@user.id}" } %> en la Jugada <%= @table.title %>.
    </p>
    <p style="font-size:14px; font-family:Arial, Helvetica, sans-serif;">
     Si saliste entre los primeros <b>30</b> se te sumaran automáticamente las MONEDAS, revisa en el historial para saber cuántas monedas se te sumaron . 
    </p>
    <p style="font-size:14px; font-family:Arial, Helvetica, sans-serif; text-align:center;"><a href="http://www.jugaplay.com/" style="color:#FFF; text-decoration:inherit;"><div class="hola" style="background: #74942e;-webkit-border-radius: 7;-moz-border-radius:7; border-radius: 7px;color: #ffffff;font-size: 20px;padding: 10px 20px 10px 20px; width:200px; margin-left:auto; margin-right:auto;font-family:Arial, Helvetica, sans-serif;">IR A JUGAPLAY</div></a></p>
  </div>
  <div class="row" style="width:80%; margin-top:0px; margin-bottom:20px; margin-left:10%; margin-right:10%;text-align:center;color:#FFF;" >
    <h3 style="font-size:18px; font-family:Arial, Helvetica, sans-serif;">¡NOVEDADES!</h3>
     <p style="font-size:14px; font-family:Arial, Helvetica, sans-serif;">Descargá el App para IOS <a href="https://itunes.apple.com/us/app/jugaplay/id1113618499?ls=1&mt=8" style="color:#FFF; text-decoration:inherit;"><div class="hola" style="background: #74942e;-webkit-border-radius: 7;-moz-border-radius:7; border-radius: 7px;color: #ffffff;font-size: 20px;padding: 10px 20px 10px 20px; width:200px; margin-left:auto; margin-right:auto;font-family:Arial, Helvetica, sans-serif;">DESCARGAR APP IOS</div></a></p>
    <p style="font-size:14px; font-family:Arial, Helvetica, sans-serif;">Descargá el App para Android <a href="https://play.google.com/store/apps/details?id=com.JugaPlay" style="color:#FFF; text-decoration:inherit;"><div class="hola" style="background: #74942e;-webkit-border-radius: 7;-moz-border-radius:7; border-radius: 7px;color: #ffffff;font-size: 20px;padding: 10px 20px 10px 20px; width:200px; margin-left:auto; margin-right:auto;font-family:Arial, Helvetica, sans-serif;">DESCARGAR APP Android</div></a></p>
    <p style="font-size:14px; font-family:Arial, Helvetica, sans-serif;">Mas posiciones premiadas, ahora es más fácil ganar!! </p>
  </div>
  <div class="row" style="width:80%; margin-top:0px; margin-bottom:40px; margin-left:10%; margin-right:10%;text-align:center;color:#FFF;">
    <p style="font-size:14px; font-family:Arial, Helvetica, sans-serif;">Si realmente sabes de futbol, te esperan muchisimos premios.</p>
  </div>
  <div class="row" style="width:100%;text-align:center;" > <img src="http://jugaplay.com/mail/img/balon.jpg" style="margin-top:10px; margin-left:auto; margin-right:auto; width:50%; max-width:251px;" /></div>
</div>
