<h4 class="page-title">Cerrar Mesas</h4>

<h5>Estadísticas de jugador</h5>
<%= form_for :player_stats, html: { id: 'close-table-form' } do |f| %>
  <div class="file-field input-field">
    <div class="btn">
      <span>File (csv)</span>
      <%= f.file_field :file, required: true %>
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>
<% end %>

<br>
<i><h6>Ejemplo:</h6></i>
<i>player_id,match_id,assists,defender_scored_goals,faults</i><br>
<i>1,1,1,2,3</i><br>
<i>2,1,0,0,2</i><br>
<br>

<div class="table-container">
  <table class="stripped hoverable tb900">
    <thead>
      <tr>
        <th>ID</th>
        <th>Titulo</th>
        <th>Numero de jugadores</th>
        <th>Partidos</th>
        <th>Inicio</th>
        <th>Fin</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
    <% @tables_to_be_closed.each do |table| %>
      <tr>
        <td><%= table.id %></td>
        <td><%= table.title %></td>
        <td><%= table.number_of_players %></td>
        <td><%= table.matches.count %></td>
        <td><%= table.start_time.strftime('%d/%m/%Y - %H:%M') %></td>
        <td><%= table.end_time.strftime('%d/%m/%Y - %H:%M') %></td>
        <td><%= link_to 'Cerrar', '#', data: { link: close_admin_table_path(table.id) }, class: 'close-table-link' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
