<h4 class="page-title">Cerrar Mesas</h4>

<div class="table-container">
  <table class="stripped tb900">
    <thead>
      <tr>
        <th>ID</th>
        <th>Titulo</th>
        <th>Numero de jugadores</th>
        <th>Partidos</th>
        <th>Inicio</th>
        <th>Fin</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
    <% @tables_to_be_closed.each do |table| %>
      <tr>
        <td><%= table.id %></td>
        <td><%= table.title %></td>
        <td><%= table.number_of_players %></td>
        <td><%= table.matches.count %></td>
        <td><%= table.start_time.strftime('%d/%m/%Y - %H:%M') %></td>
        <td><%= table.end_time.strftime('%d/%m/%Y - %H:%M') %></td>
        <td><%= table.being_closed? ? 'Esta siendo cerrada' : link_to('Cerrar', close_admin_table_path(table.id), method: :post, class: 'close-table-link') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
