<% if user_signed_in? %>
    <li class="bold"><%= link_to 'Jugadores', admin_players_path %></li>
    <li class="bold"><%= link_to 'Equipos', admin_teams_path %></li>
    <li class="bold"><%= link_to 'Partidos', admin_matches_path %></li>
    <li class="bold"><%= link_to 'Mesas', admin_tables_path %></li>
    <li class="bold"><%= link_to 'Cerrar Mesas', to_be_closed_admin_tables_path %></li>
    <li class="bold"><%= link_to 'Estadísticas', import_form_admin_player_stats_path %></li>
    <li class="bold"><%= link_to 'Usuarios', admin_users_path %></li>
    <li class="bold"><%= link_to 'Mensajes', admin_sent_mails_path %></li>
    <li class="bold"><%= link_to 'Explicaciones', admin_explanations_path %></li>
    <li class="bold"><%= link_to 'Logout', admin_logout_path %></li>
<% end %>
