<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <title>Jugaplay</title>
  </head>
  <body>
    <nav class="top-nav">
      <div class="container">
        <div class="nav-wrapper">
          <%= link_to 'JugaPlay', admin_root_path %>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <%= render 'layouts/menu_items' %>
          </ul>
          <ul id="slide-out" class="side-nav">
            <%= render 'layouts/menu_items' %>
          </ul>
          <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <%= render 'layouts/flash' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
